header.fixed-top,
.primary-navigation,
#usernavigation form,
.trick, .call911, .divider {
    display: none !important;
    visibility: hidden !important;
}

.navbar.fixed-top {
    top: 0;
    height: 10.2vh;
    border: 0;
}

.classic-navbar {
    background: rgb(155,216,96);
    background: linear-gradient(90deg, rgba(155,216,96,1) 0%, rgba(163,212,128,1) 10%, rgba(191,208,177,1) 22%, rgba(210,215,205,1) 35%, rgba(226,226,226,1) 57%);
}

.glass-navbar {
    backdrop-filter: blur(13px);
    background: linear-gradient(92deg, rgba(110, 199, 46, 0.69) 0.87%, rgba(108, 164, 66, 0.51) 7.83%, rgba(107, 138, 81, 0.38) 13.67%, rgba(106, 117, 93, 0.27) 24%, rgba(105, 103, 101, 0.20) 41.04%, rgba(105, 101, 102, 0.19) 100%);
}

.navbar-receptic .navbar-nav .nav-link,
.navbar-receptic a.dropdown-toggle .icon,
.editmode-switch-form:hover,
.navbar-receptic .popover-region[data-region="popover-region-messages"] a .icon {
    color: #1d2125;
}

#page {
    margin-top: 0 !important;
    padding-top: 10.2vh !important;
    height: 100vh !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    scrollbar-width: none !important;
}

#usernavigation {
    margin-top: 0;
}

.usermenu-container {
    margin-left: 5vw;
}

#usernavigation [data-region="popover-region-messages"] a:hover,
.navbar-receptic .navbar-nav .nav-link:hover, .navbar-receptic .navbar-nav .nav-link:focus,
#usernavigation [data-region="popover-region-messages"] a:hover i {
    color: #1d2125;
}

.popover-region {
    width: 3.13vw;
    height: 3.13vw;
    flex-shrink: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center; 

    /* effect */
    transition: linear 300ms;

    text-decoration: none;
    color: #1E1E1E;
    font-size: 1.5rem;
    border-radius: 14px;

    margin: auto auto auto 0.40vw;
}

.popover-region:hover {
    color: #1d2125;

    /* effect */
    background: linear-gradient(133deg, #FFF -7.1%, rgba(220, 220, 220, 0.00) 107.1%);
    backdrop-filter: blur(20px);
    box-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.25);
    transition: linear 300ms;
}

#user-menu-toggle {
    color: #1d2125;
}